.FormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
}

@media (max-width: 420px) {
  .FormContainer {
    flex-direction: column;
  }
}

.Input {
  background-color: #f7f7f7;
  width: 100%;
  padding: 8px;
  border: 1px solid #ef7360;
  border-radius: 8px;
}

.Input:focus {
  border: 3px solid #ef7360;
  outline: none;
}

.Button {
  background: #ef7360;
  border-radius: 18px;
  border: 2px solid #ef7360;
  color: white;
  margin-left: 1em;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
}

@media (max-width: 420px) {
  .Button {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }
}
